<header class="header fixed-top">
  <div class="branding docs-branding">
    <div class="container-fluid position-relative py-2">
      <div class="docs-logo-wrapper gap-2 d-flex">
        <button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible d-xl-none" type="button">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="site-logo">
          <a class="navbar-brand" href="/">
            {% if request.path == '/'%}
            <div class="logo-text"><img src="/static/images/makalot.jpg" style="height:50px;"><span> × 新人小寶典</span></div>  <!-- <span class="text-alt">查閱系統</span> -->
            {% else %}
            <div class="logo-text"><img src="/static/images/makalot.jpg" style="height:50px;"><span> × 新人小寶典 ( 編輯模式 )</span></div>  <!-- <span class="text-alt">查閱系統</span> -->
            {% endif %}
          </a>
          <!-- <span class="badge bg-primary"></span> -->
        </div>
      </div>
      <div class="docs-top-utilities d-flex justify-content-end align-items-center gap-3">
        <div class="top-search-box d-none d-lg-flex">
          <form class="search-form">
            <input type="search" placeholder="搜尋標題..." name="search" class="form-control search-input" autocomplete="off">
            <div id="results"></div>
          </form>
        </div>
        <!-- <a href="/chatbot/" id="redirbutton"></a> -->
        {% if request.path != '/edit/' %}
        {% if request.identity_context_data.authenticated %}
        <button type="button" class="btnknow btn-changelog btn chatbtn-primary d-lg-flex" data-bs-toggle="modal" data-bs-target="#chatModal" data-mode="knowledgeChat">
          <img src="/static/images/book.png" alt="聊更色嗎" class="btn-icon"> 
        </button>

        <!-- <button type="button" class="btnchat btn-changelog btn chatbtn-primary d-none d-lg-flex" data-bs-toggle="modal" data-bs-target="#chatModal1" data-mode='chatbot'>
          <img src="/static/images/chat.png" alt="聊色嗎" class="btn-icon">
        </button> -->
        {% if request.identity_context_data.username == "Dakin Wu (Taipei, 吳岱錡)" %}
        <a href="/edit" style="text-decoration: none !important;">
          <button class="chatbtn-primary btn-changelog btn d-lg-flex" style=" color: #1cadeb; font-weight: bold; font-size: 18px; padding: 8.1px 16px;">編輯</button>
        </a>
        {% endif %}
        {% endif %}
        {% endif %}
<!--         <button type="button" class="btn-changelog btn btn-primary d-none d-lg-flex" data-bs-toggle="modal" data-bs-target="#changelogModal">
          更新紀錄
        </button> -->
      </div>
    </div>
  </div>
</header>